.card-list {
    padding: 20px 0 30px;

    @media ($mobilePlus) {
        padding: 20px 0 35px;
    }

    & &__container {
        padding: 0 15px;
    }
    & &__grid {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
        grid-auto-rows: 234px;
        gap: 5px;

        margin-left: auto;
        margin-right: auto;
        
        @media ($mobilePlus) {
            grid-template-columns: repeat(auto-fill, minmax(344px, 1fr));
            grid-auto-rows: 251px;
        }
        @media (max-width: 374px) {
            grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
            grid-auto-rows: clamp(210px, 66.93vw, 251px);
        }
    }
    &__more {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        gap: 37px;
        padding: 20px;

        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        
        font-size: 18px;
        color: #000;
        
        svg {
            display: block;
        }
    }
}