@font-face {
    font-family: "SF-Pro-Display";
    font-style: normal;
    font-weight: 400;
    src: url("/public/fonts/sf-pro-display/SF-Pro-Display-Regular.otf");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: normal;
    font-weight: 600;
    src: url("/public/fonts/sf-pro-display/SF-Pro-Display-Semibold.otf");
}
@font-face {
    font-family: "Sharp Grotesk";
    font-style: normal;
    font-weight: 500;
    src: url("/public/fonts/sharp-grotesk/Sharp-Grotesk-DB-Cyr-Medium-22-Regular.ttf");
}